.sidebar-button {
    border: none;
    padding: 8px 16px;
    background-color: inherit;
    cursor: pointer !important;
    font-size: 25px;
}

.sidebar-filter {
    padding: 8px 16px;
    cursor: pointer !important;
    font-size: 18px;
}

.close-button {
    background-color: inherit;
    cursor: pointer;
    padding: 8px 16px;
    text-align: left;
    border: none;
    font-size: 25px;
}

.sidebar-container {
    align-items: center;
    flex-direction: column;
    display: none;
    border-bottom: 1px solid #ccc !important;
    width: 100%;
    background-color: #fff;

}