.navbar {
    background-color: #a5b9bb;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
}

.navContainer {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: space-around;
}

.iconsMargin {
    margin: 1rem;
}


.searchContainer {
    position: relative;
}

.searchInput {
    border: none;
    border-radius: 1%;
    font-size: 17px;
    padding-left: 25px;
}

.searchButton {
    margin-left: 10px;
    background-color: #738182;
    border: none;
    color: white;
    padding: 3px 13px;
    cursor: pointer;
    border-radius: 5px;
}

.logoContainer {
    cursor: pointer;
}

.searchIcon {
    position: absolute;
    left: 3px;
    top: calc(60%);
}

.badgeCartCounter {
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    background: #cb1b1b;
    position: absolute;
    margin-left: 35px;
}

@media (max-width: 750px) {
    .navContainer {
        flex-direction: column;
    }

    .navbar {
        height: auto;
    }
}